@media screen and (max-width: 780px) {
  * {
    width: 100%;
    
  }

  h2 {
    font-size: 26px;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .container .section-texts p {
    text-align: center;
  }

  .container h2 {
    text-align: center;
  }

  .video-frame {
    width: 80%;
  }

  iframe {
    height: 300px;
    width: 100%;
  }

  #section-stranger-things-trailer .section-texts h2 {
    width: 100%;
    text-align: center;
    margin-left: 50%;
  }

  #section-stranger-things-gallery .container h2 {
    text-align: center;
    width: 100%;
  }

  #section-stranger-things-trailer .section-texts p {
    width: 100%;
    text-align: center;
    margin-left: 50%;
  }

  #section-stranger-things-gallery .gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #section-form h2 {
    width: 100%;
    text-align: center;
    gap: 10px;
  }

  .form-content {
    flex-direction: column;
    width: 80%;
  }

  .form-content h3 {
    font-size: 32px;
  }

  footer {
    width: 100%;
    height: 220px;
    padding: 20px;
  }

  footer::before {
    width: 0%;
  }

  footer::after {
    width: 0%;
  }

  footer img {
    width: 20%;
  }

  .btnTop {
    width: 40px;
    height: 35px;
    right: 4%;
    padding: 4px 8px 8px;
  }

  .btnTop img {
    width: 20px;
    height: 20px;
    padding: 0px;
  }

}
